<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>239313871890-uacg4n0gbkd1oopsamdjm9mlhopqqeuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239313871890-uacg4n0gbkd1oopsamdjm9mlhopqqeuq</string>
	<key>API_KEY</key>
	<string>AIzaSyBzp5bODWQgmipuEcnosP1J62b5SZ6SaNU</string>
	<key>GCM_SENDER_ID</key>
	<string>239313871890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-c1b6a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-c1b6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239313871890:ios:32fc1c81da87c109c824cb</string>
</dict>
</plist>